div.carousel a.Arrow_left:hover{
    color:#808080;
  background:#808080;
    height:70px;
    width:40px;
   position:absolute;
   top:170px;
    left:10px;

}

div.carousel a.Arrow_right:hover{
    color:#808080;
    background:#808080;
    height:70px;
    width:40px;
    position:absolute;
    top:170px;
    right:10px;

}


.carousel-indicators .active{
    background:#08A8E8;!important;

}

.carousel-indicators li{
    width:14px;
    height:14px;
    border-radius:50%;;

}
