<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <script  src="js/jquery.min.js"></script>
    <script  src="js/popper.min.js"></script>
    <script  src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/products shoes.css"/>
    <script src="js/vue.js"></script>
</head>
<body>
<!--引入header-->
<table></table>
<header id="header" class="my-header"></header>
<!--<iframe src="header.html" frameborder="0" class="my-header"></iframe>-->

<div class="container ">
    <div class="row a_1">
        <a href="">综合</a>
        <a href="">人气</a>
        <a href="">销量</a>
        <a href="">信用</a>
        <a href="">价格</a>
    </div>


    <!--复合多选按钮-->
    <form action="" id="Form" class="row">
        <label for=""><input type="checkbox" name=""/>包邮</label>
        <label for=""><input type="checkbox"/>货到付款</label>
        <label for=""><input type="checkbox"/>正品保障</label>
        <label for=""><input type="checkbox"/>7天内退换</label>
        <label for=""><input type="checkbox"/>赠送退货保险</label>
    </form>

    <!--鞋列表-->
    <div class="row" id="king_products">
        <div  class="col-md-3" v-for="(item,index) in products" v-cloak  v-if="(index>12&&index<25)">
            <a :href="'product_details.html?pid='+item.pid"><img :src="item.img_url" alt="" class="img_middle"/></a>
            <a href="">{{item.content}}</a>
            <span class="Shoes_Size">￥{{item.price.toFixed(2)}}</span>
            <img src="image/11.png" alt=""/>
            <span class="float-right">销量:{{item.sales}}</span>
            <p>
                <a href=""><img src="image/12.png" alt=""/></a>
                <a href="" ><img src="image/13.png" alt="" class="float-right"/></a>
            </p>
        </div>
       

    </div>
    <!--翻页-->


    <ul class="list-unstyled page_666 text-right">
        <li><a href="#">下一页</a></li>
        <li ><a href="#">5</a></li>
        <li ><a href="#">4</a></li>
        <li ><a href="#">3</a></li>
        <li ><a href="#">2</a></li>
        <li ><a href="#">1</a></li>
        <li><a href="#">上一页</a></li>
    </ul>


    <!--下面的自动轮播图-->
    <div class=" mt-5 text-center auto_1">
        <p class="pt-5 mb-2">
            <span class="auto_2">--------掌柜推荐--------掌柜推荐--------掌柜推荐--------</span>
            <a href="#" class="float-right auto_3">查看更多推荐>></a>
        </p>
    </div>
    <div id="d1">
        <ul>
            <li><img src="image/shoes/1.jpg"/>
                <p>九尾妖狐同款</p>
            </li>
            <li><img src="img/11.png"/>
                <p>纳尔收藏款毛绒</p>
            </li>
            <li><img src="image/shoes/3.jpg"/>
                <p>风女同款</p>
            </li>
            <li><img src="img/4.jpg"/>
                <p>EZ and 拉克丝</p>
            </li>
            <li><img src="image/shoes/4.jpg"/>
                <p>瑞文同款</p>
            </li>
            <li><img src="image/shoes/5.jpg"/>
                <p>卡萨同款</p>
            </li>

        </ul>
    </div>





</div>
<!--引入footer-->


        <script src="js/auto_img.js"></script>
        <footer id="footer" class="my-footer"></footer>
        <script src="js/ajax.js"></script>
        <script src="js/header.js"></script>
        <script src="js/footer.js"></script>
        <script src="js/products.js"></script>
</body>
</html>